@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,900;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap');

*{
    margin: 0;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

body{
    font-family: 'Montserrat', serif;
    background: #29212D;
    color: #FAF9F0;
    text-align: center;
}

.navbar {
    color: inherit;
    display: flex;
    justify-content: center;
}

.social-links a, 
.navbar a {
    text-decoration: none;
    color: white;
}
.social-links{
    margin: 3.8rem auto;
}
.social-links a{
    padding: 0.5rem;
    font-size: 2rem;
}
.navbar a{
    font-family: 'Fira Code', monospace;
    padding: 2rem;
    font-size: 1.2rem;
}
#home{
    display: flex;
    flex-direction: column;
}

.big-text{
    font-size: 4.6rem;
    font-weight: bold;
    font-style: italic;
}

.smaller-text{
    font-size: 1.8rem;
}

.title-text{
    font-family: 'Chakra Petch', sans-serif;
    color: #FAF9F0;
    margin: 1rem auto;
    width:300px;
    border: 8px solid #FAF9F0;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}



/* style for about section */

#about{
    padding:1rem 3rem;
    font-size: larger;
    padding-bottom: 3rem;
    border-radius: 10px;
    color: black;
}
.about-info{
    padding: 10px;
    display: flex;
}

.about-info p{
    color:#FAF9F0;
    font-family: 'Fira Code', monospace;
    text-align:justify;
    margin-bottom: 0;
}
#about div{
    display: flex;
    margin: 0;
}

.bishalImg{
    margin: 0 1rem;
    border-radius:50%;
    width:250px;
}


/* projects info  */

.projects-list{
    display: block;    
}
.project-description{
    align-content: center;
}
.project-card{
    display: flex;
    border-radius: 0.5rem;
    background-color: #322A36;
    height: 500px;
    margin: 3rem auto;
}

.project-img{   
   border-radius: 10px;
   width: 600px;
   height: 450px;
   margin: 1rem;
   background-size:cover;
}
.projects-links{
    margin-top: 40px;
    display: flex;
    font-family: 'Chakra Petch', sans-serif;
    font-size: large;
    justify-content:center;
}.project-title{
    font-size: 2rem;
    color: #FAF9F0;
    margin-top: 30px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Chakra Petch', sans-serif;
}
.btn-style{
    display: block;
    width: 150px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #3A86FF;
    border-radius: 30px;
    padding: 20px 30px;

}
.project-card p{
    padding: 0.8rem;
    font-family: 'Fira Code', monospace;
}

.btn-list{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3rem;
}

.btn-list button,
.submit-btn{
    width: calc(50% - 1rem);
    padding: 0.8rem 1.5rem;
    border:2px solid rgb(255, 135, 6);
    background-color: transparent;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    border-radius: 10px;
}
.url{
    text-decoration: none;
    color: inherit;
}

/* contact section */

#contact{

    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1rem;
    padding: 2rem;
}
form{
    display: flex;
    flex-direction: column;
}

.form-section{
    width: 600px;
    display: block;
}

.text-input
{
    border:none;
    width: (calc(90%));
    min-width: calc(90%);
    min-height: 30px;
    margin-top: 3rem;
    color: #ffffff;
    font-size: 1.6rem;
    padding: 10px;
    border-left: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    background-color: transparent;
}

#submit-btn{
    padding: 1rem;
    margin: 2rem auto;
    background-color: transparent;
    border: none;
    width: calc(50%);
    color: #ffffff;
    font-size: 1.6rem;
    border-left: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
}


.hide{
    display: none;
}